.statistics {
    margin-top: 12px;
    margin-bottom: 24px;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    width: 480px;
    box-shadow: 2px 2px;
    background-color: white;
}

.title{
    text-align: center;
}

.stat-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.item {
    display: block;
    flex: 1;     
    /* border: 2px solid red; */
    border-top: 2px solid gray;
    background-color: silver;
    text-align: center;
    color: white;
} 

  .item:not(:last-child) { 
  border-right: 2px solid gray;
} 

.label {
    display: block;
}

.percentrate{
    display: block;
}

/* .label {
  margin-left: auto;
  margin-right: auto;
  color: gray; 
  font-size: 14px;
  font-weight: 200;
} */